@font-face {
    font-family: 'Alex Brush';
    src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: 'DM Serif Display';
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@media screen and (min-width: 981px) {

    .menu .dropdown {
        display: none;
    }

    .pie-de-pagina .columna {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

}

@media screen and (max-width:980px) {

    .logo h1 {
        font-size: 40px !important;
    }
    
    .menu .panel-nav {
        display: none;
    }

    .pie-de-pagina * {
        font-size: 0.75rem !important;
    }

    .pie-de-pagina .redes-sociales span {
        font-size: 20px !important;
    }

    .pie-de-pagina .contenedor-de-fila {
        padding-top: 32px !important;
        padding-bottom: 0 !important;
    }

    .pie-de-pagina .columna {
        width: 100%;
    }

    .pie-de-pagina .columna div {
        margin-bottom: 16px;
        width: 50%;
        min-width: 300px;
    }

    .pie-de-pagina .columna h6 {
        font-size: 16px !important;
    }

    .whatsapp-icono, .whatsapp-icono:hover {
        width: 40px !important;
        height: 40px !important;
    }
    
    .whatsapp-icono span {
        font-size: 25px !important;
    }

    .carrusel_principal .contenedor {
        left: 0px !important;
        right: 0px !important;
    }

    .carrusel_principal .contenido {
        left: 20% !important;
        right: 20% !important;
    }

    .carrusel_principal .contenido h3 {
        font-size: 1.5rem;
    }

    .carrusel_principal .contenido h1 {
        font-size: 2.25rem;
    }

    .carrusel_principal .contenido h5 {
        font-size: 1rem;
    }

    .carrusel_principal .contenido button {
        font-size: 0.75rem;
    }

    .ubicacion iframe {
        height: 400px;
    }

    .tiny-window {
        font-size: 30px;
    }
    .tiny-window-caption{
        font-size: 22px;
    }
    .tiny-window-caption_label{
        font-size: 15px;
    }

}

.cabecera {
	background-color: #005256;
    color: #dedede;
}

.cabecera .contenedor-principal {
    display: flex;
}

.logo a {
    text-decoration: none;
    color: #dedede;
}

.logo h1 {
    margin-bottom: 0px;
    padding-top: 10px;
    font-family: 'Alex Brush';
    font-size: 60px;
    line-height: 90%;
}

.logo p {
    margin-bottom: 0px;
    padding-bottom: 5px;
    font-size: 12px;
    opacity: 0.5;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu .panel-nav a {
    text-decoration: none;
    color: #dedede;
}

.menu .panel-nav a:hover {
    opacity: 0.5;
}

.menu .btn {
    color: #dedede;
    border: 1px solid #dedede;
}

.menu .btn:active {
    background-color: #dedede;
    color: #005256;
}

.menu .dropdown-menu a {
    color: #005256;
}

.menu .dropdown-menu a:active {
    background-color: #005256;
    color: #dedede;
}

.pie-de-pagina {
	background-color: #005256;
    color: #dedede;
}

.pie-de-pagina ul, .pie-de-pagina p {
    margin-bottom: 0;
}

.pie-de-pagina a {
    text-decoration: none;
    color: #dedede;
}

.pie-de-pagina a:hover {
    opacity: 0.5;
}

.pie-de-pagina .contenedor-de-fila {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pie-de-pagina .columna {
    display: flex;
    justify-content: center;
}

.pie-de-pagina .columna h6 {
    font-family: 'DM Serif Display';
    font-size: 20px;
}

.pie-de-pagina .datos-de-contacto ul, .pie-de-pagina .acerca-de-nosotros p {
    padding-left: 1rem;
}

.pie-de-pagina .datos-de-contacto li {
    list-style: none;
    line-height: 200%;
}

.pie-de-pagina .datos-de-contacto span {
    width: 20px;
}

.pie-de-pagina .horario-de-atencion table {
    border-collapse: separate;
    border-spacing: 1rem 0;
}

.pie-de-pagina hr {
    border-color: #dedede;
    opacity: 0.5;
}

.pie-de-pagina .nota-al-pie {
    padding-bottom: 16px;
    display: flex;
}

.pie-de-pagina .copyright {
    flex-grow: 1;
    text-align: left;
}

.pie-de-pagina .redes-sociales {
    text-align: right;
    white-space: nowrap;
}

.pie-de-pagina .redes-sociales span {
    font-size: 20px;
}

.whatsapp-icono, .whatsapp-icono:hover {
    position: fixed;
    bottom: 65px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 99;
    background-color: #34C759;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icono span {
    font-size: 30px;
}

.carrusel_principal {
    position: relative;
}

.carrusel_principal img {
    max-height: 80vh !important;
    min-height: 450px !important;
    width: 100% !important;
}

.carrusel_principal .mensaje-a-la-derecha .contenedor {
    right: 0px;
    left: 50%;
}

.carrusel_principal .mensaje-a-la-izquierda .contenedor {
    left: 0px;
    right: 50%;
}

.carrusel_principal .contenedor {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: gray;
    opacity: 0.75;
}

.carrusel_principal .mensaje-a-la-derecha .contenido {
    right: 25%;
    left: 55%;
}

.carrusel_principal .mensaje-a-la-izquierda .contenido {
    left: 25%;
    right: 55%;
}

.carrusel_principal .contenido {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.carrusel_principal .sin-mensaje .contenedor, .carrusel_principal .sin-mensaje .contenido {
    display: none;
}

.ubicacion {
    padding-top: 50px;
    display: flex; /*FLEX*/
    flex-direction: column;
    align-items: center;
}

.ubicacion img {
    margin-bottom: 27px;
    height: 88px;
    width: 88px;
}

.ubicacion h3 {
    font-family: 'DM Serif Display';
    color: #005256;
}

.ubicacion iframe {
    max-width: 100%;
}

.formulario-contacto small {
    background-color: #d01a1a;
    color: #dedede;
}

.carrusel-personal {
    padding-bottom: 50px;
    display: flex; /*FLEX*/
    flex-direction: column;
    align-items: center;
}

.carrusel-personal .titulo {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'DM Serif Display';
    color: #005256;
}

.carrusel-personal .carrusel {
    max-width: 600px;
}

.carrusel-personal .carrusel img {
    width: 600px;
    height: 380px;
}

.carrusel-personal .carrusel h5 {
    font-family: 'Alex Brush';
    color: #005256;
    font-weight: bold;
    font-size: 30px;
}

.width-100-pc {
    width: 100%;
}

.area-de-texto {
    min-height: 100px;
    max-height: 200px;
}

.color-sm-spa {
    color: #005256;
}

.padding-vertical-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dm-serif-display {
    font-family: 'DM Serif Display';
}

.alex-brush-25px {
    font-family: 'Alex Brush';
    font-size: 25px;
}

.max-width-1000px {
    max-width: 1000px !important;
}
